<ion-content class="modal-content">
    <div class="form-container">
      <ion-card class="ion-card">
        <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">
          <h2>Datos Tutor</h2>
          
          <app-formulario [control]="form.controls.nombre" autocomplete="nombre" type="text" label="Nombre"></app-formulario>
          <app-formulario [control]="form.controls.apellido" autocomplete="apellido" type="text" label="Apellido"></app-formulario>
          <app-formulario [control]="form.controls.direccion" autocomplete="direccion" type="text" label="Ingrese direccion"></app-formulario>
          <app-formulario [control]="form.controls.telefono" autocomplete="tel" type="number" label="Teléfono"></app-formulario>
          <app-formulario [control]="form.controls.email" autocomplete="email" type="email" label="Correo electrónico"></app-formulario>
  
  
          <ion-button type="submit" expand="block" shape="round" style="padding: 20px;">
            Guardar tutor
          </ion-button>
        </form>
      </ion-card>

      <div>
        <ion-card class="ion-card">
          <div *ngFor="let mascota of mascotas; let i = index" class="mascota-form">
            <ion-item>
              <ion-label position="floating">Nombre de la mascota</ion-label>
              <ion-input [(ngModel)]="mascota.nombre" placeholder="Nombre"></ion-input>
            </ion-item>
            
            <!-- Selector de especie con validación -->
            <ion-item>
              <ion-label position="floating">Especie de la mascota</ion-label>
              <ion-input [(ngModel)]="mascota.especie" placeholder="Especie"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Fecha de Nacimiento</ion-label>
              <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="mascota.fechaNacimiento" placeholder="Selecciona la fecha"></ion-datetime>
            </ion-item>
            
            <ion-button color="danger" (click)="eliminarMascota(i)">Eliminar Mascota</ion-button>
          </div>
          
          <ion-button (click)="agregarMascota()">Agregar Mascota</ion-button>
        </ion-card>
      </div>
    </div>
  </ion-content>
  