<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Términos y Condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Aquí va el contenido de los términos y condiciones -->
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Minima praesentium distinctio suscipit laudantium optio aspernatur 
    reiciendis nemo natus commodi mollitia. Culpa vitae repellendus 
    doloribus eligendi blanditiis, nam a in dolorum.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
  Voluptatem delectus quo ipsam iste dolorum libero eligendi in voluptate, 
  magnam nulla fugiat asperiores labore reprehenderit ea itaque rerum animi
   mollitia quibusdam!</p>
</ion-content>
